*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-padding-top: 5.5rem;
    overflow-x: hidden;
}
body{
    background-color: antiquewhite;
        
    
}
header{
   background-color: yellow; 
    height: 12vh;
    display: flex;
}
.logo img{
    height: 70%;
    margin-top:8%;
    margin-left: 10%;
}
.name{
    color: black;
    letter-spacing: 2px;
    word-spacing: 7px;
    margin-top: 1.5%;
    margin-left: 30%;
}
.home img{
    width: 100%;
    height: 80%;
    opacity: 1.5;
}
.home .a{
    position: absolute;
    top: 40%;
    left: 40%;
    color: black;
    font-size: 150%;
}
.a .b{
    margin-left: 20%;
    margin-top: 5%;
}
#check{
    display: none;
}
.menu{
    display: none;
}
.navlinks{
    background-color: yellowgreen;
    height: 12vh;
}
.navlinks ul{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    margin-top: -5px;
}
a{
    color: black;
}
.aboutus{
    display: flex;
}
.aboutus img{
    height: 50vh;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 2%;
}
.aboutus .about{
    width: 30%;
    margin-left: 15%;
    margin-top: 15vh;
    text-align: center;
    font-size: 150%;
}
.about h2{
    color: rgb(7,61,7);
}
.about p{
    color: green;
    margin-top: 2%;
}
.about button{
    background: linear-gradient(yellow,greeen);
    margin-top: 5vh;
    height: 6vh;
    width: 25%;
}
#slider {
    overflow: hidden;
    margin-top: 5%;
}
.slider figure{
    position: relative;
    width: 500%;
    left: 0;
    animation: 20s slider infinite;
}
.slider  img{
    width: 20%;
    float: left;
    height: 80vh;
}

@keyframes slider {
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    
    25%{
        left: -100%;
    }
    
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        :left-300%
    }
    95%{
        left: -300%;
    }
}
.uga{
    margin: 15vh;
    border-radius: 12%;
}
.uga h1{
    text-align: center;
    font-size: 175%;
    color: rgb(23, 65, 23);
}
.uga .ug img{
    height: 20vh;
    width: 80%;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 10px;
}
.uga .ug{
    border: 0.6px solid rgb(138, 132, 132);
    margin-left: 50px;
    height: 40vh;
    border-radius: 10px;
    background-color: azure;
    margin-right: 50px;
    text-align: center;
    margin-top: 15vh;
    width: 250px;
}
.uga .row1{
    display: flex;
}
.uga .row2{
    display: flex;
}
.ug h2{
    margin-top: 25px;
}
hr{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
}
.admission{
    text-align: center;
}
.admission h1{
    margin-top: 30px;
}
.admission h3{
    margin-top: 20px;
}
.admission p{
    background-color: rgb(0,255,64);
    height: 10vh;
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
    padding-top: 1.4%;
    box-shadow: 1px 2px 1px gray;
    font-size: 100%;
}
form{
    margin-top: 15vh;
    margin-left: 10%;
    background: linear-gradient(greenyellow,yellow);
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
input{
    padding-top:9px ;
    padding-bottom: 9px ;
    padding-right: 50px;
}
.dis{
    display: flex;
}
.dis img{
    height: 70vh;
    margin-top: 150px;
    margin-left: 200px;
    opacity: 5;

}
.placement{
    text-align: center;
    margin-top: 30px;
}
.recruit{
    display: flex;
}
.recruit img{
    height: 10vh;
    width: 10%;
    margin-left: 5%;
    margin-top: 10px;
}
.contact{
    margin-top: 5vh;
    display: flex;
    text-align: center;
    margin-left: 30%;
    font-size: 160%;
}
.shopinfo2{
    margin-left: 9%;
}
footer{
    height: 30vh;
    background-color: black;
}
footer h2{
    color: white;
   position: relative;
   left: 50%;
   top: 30px;
   font-size: 120%;

}
footer h4{
    color: white;
    position: relative;
    left: 50%;
    top: 40px;
}
footer p{
    color: white;
    position: relative;
    left: 10%;
    top: 5px;
}
@media only screen and (min-width:320px) and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
    }   
  
    header{
        height: 9vh;
       width: 100%; 
        
    }
    .logo img{
        height: 50%;
        margin-top:8%;
        margin-left: 10%;
    }
    .name{
        color: black;
        letter-spacing: 1px;
        word-spacing: 4px;
        margin-top: 1.5%;
        margin-left: 10%;
    }
    .name h2{
        font-size: 17px;
    }
    .home img{
        width: 100%;
        height: 30vh:
        opacity: 1.5;
    }
    .home .a{
        display: none;
    }
    .a .b{
        display: none;
    }
    .about button{
        background: linear-gradient(yellow,green);
        margin-top: 5vh;
        height: 6vh;
        width: 53%;
    }
    .aboutus img{
        width: 50%;
        height: 30vh;
        margin-top: 35%;
        margin-left: 5%;
    }
    .aboutus .about{
        margin-top: 45%;
        margin-left: 5%;
        font-size: 50%;
    }
   
    
    .menu{
        display: block;
        position: relative;
    }
.navlinks{
    background-color: antiquewhite;
}
html{
    scroll-padding-top: 5.5rem;
    overflow-x: hidden;
}
    .navlinks ul{
        display: block;
        width: 40%;
        height: 30vh;
        margin-left: -100%;
        margin-top: 0.5%;
        background: #2c3e;
        text-align: center;
        transition: all 1s;
        position: absolute;
        

    }
    .navlinks ul li{
        padding-top: 3px;
        padding-bottom: 1px;
    }
    #check:checked ~ ul{
        margin-left: 0;
        position: relative;
    }
    
   
     .uga .row1{
        display: block;
        margin-left: 0%;
     }
     .uga .row2{
        display: block;
        margin-left: 0%;
     }
    
     .admission{
        text-align: center;
    }
    .admission h1{
        margin-top: 30px;
    }
    .admission h3{
        margin-top: 20px;
    }
    .admission p{
        background-color: rgb(0,255,64);
        height: 10vh;
        margin-top: 10px;
        width: 40%;
        margin-left: 30%;
        padding-top: 1.4%;
        box-shadow: 1px 2px 1px gray;
        font-size: 80%;
    }
    .uga{
        margin: 15vh;
        border-radius: 12%;
    }
    .uga h1{
        text-align: center;
        font-size: 175%;
        color: rgb(23, 65, 23);
    }
    .uga .ug img{
        height: 20vh;
        width: 80%;
        border-radius: 10px;
        margin-left: 3%;
        margin-top: 10px;
    }
    .uga .ug{
        border: 0.6px solid rgb(138, 132, 132);
        margin-left: -30px;
        height: 30vh;
        border-radius: 10px;
        background-color: azure;
        text-align: center;
        margin-top: 15vh;
        
        
    }
   
    .ug h2{
        margin-top: 10px;
        font-size: 80%;
    }
    footer{
        height: 25vh;
        background-color: black;
        width: 100%;
        overflow: hidden;
        
        
    }
    footer h2{
        color: white;
       position: relative;
       left: 40%;
       top: 60px;
       font-size: 40%;
       
    
    }
    footer h4{
        color: white;
        position: relative;
        left: 40%;
        top: 70px;
        font-size: 50%;
    }
    footer p{
        color: white;
        position: relative;
        left: 1%;
        top: 5px;
        font-size: 60%;
    }
   form{
    width: 90%;
    margin-left: 5%;
   }
   .dis {
    display: block;
   }
    
    .dis img{
        height: 50vh;
        margin-top: 20px;
        margin-left: 50px;
        opacity: 5;
    
    }
    .dis h2{
        margin-left: 20%;
    }
    .dis button{
        margin-left: 30%;
    }
    .recruit{
        display: flex;
    }
    .recruit img{
        height: 8vh;
        width: 10%;
        margin-left: 5%;
        margin-top: 10px;
    }
    .contact{
        margin-top: 5vh;
        display: flex;
        text-align: center;
        margin-left:15%;
        font-size: 100%;
        width: 100%;
    }
    .shopinfo2{
        margin-left: 9%;
    }
    .slider img{
        height: 25vh;
        width: 20%;
    }
    
    .slider{
        overflow: hidden;
    }
    